/* General Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #333;
    color: white;
    padding: 1rem;
}

nav {
    background-color: #333;
    padding: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
    padding: 0.5rem;
    display: block;
}

/* Main Styles */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

h1 {
    color: #333;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

/* Paragraph Styles */
p {
    padding: 0;
}

/* Aside Styles */
aside {
    width: 250px;
    margin: 0 auto;
    border: 2px solid #ccc;
    padding: 1rem;
    background-color: #f9f9f9;
    color: #333;
}

aside img {
    width: 200px;
    height: auto;
}

/* Footer Styles */
footer {
    margin-top: 1rem;
    border-top: 2px solid #333;
    text-align: center;
    padding: 1rem;
}
